.title {
   font-size: 30px;
}
.subtitle {
   font-size: 50px;
}
.button {
   padding: 15px 0;
   width: 150px;
   font-size: 20px;
   color: #fff;
   border-radius: 15px;
   border: none;
   cursor: pointer;
}
.minus {
   margin-right: 20px;
   background-color: red;
   box-shadow: 0px 6px 0px rgb(187, 1, 1);
   transition: scale ease-in-out 0.5s;
}
.minus:active {
   transform: scale(1.03)
}

.plus {
   background-color: green;
   box-shadow: 0px 6px 0px rgb(0, 85, 0);
   transition: scale ease-in-out 0.5s;
}
.plus:active {
   transform: scale(1.03);

}